body {

    color: darkslategrey;
    font-style: nasalization; 
}
h1 {
    color: #8B0000;
    background-color: black; opacity: 0.20;
}
h2 h3 h4 {
    color: 178,34,34;
}
body {
    
    background: aliceblue;
   
  } 